


.info__card {
    background: url(../../images/profile-back.jpg);
    @include background__property;
    padding: 15px 15px;
    border-radius: 8px;
    box-shadow: $md__shadow;
    position: relative;
    z-index: 1;

    &::before {
        @include backgroud__overlay;
    }

    .info__heading {
        @include flex__center;
        justify-content: space-between;
        margin-bottom: 15px;

        h3 {
            color: $wh__color;
            font-size: $md__size;
            @include medium__typography;
            text-transform: capitalize;
        }

        h4 {
            color: $wh__color;
            font-size: $sm__size;
            @include regular__typography;
        }
    }

    .info__content {
        @include flex__center;
        justify-content: start;

        i {
            color: $wh__color;
            font-size: $xxlg__size;
            display: inline-block;
            margin-right: 10px;
        }

        ul {
            li {
                &:nth-child(1) {
                    color: $wh__color;
                    font-size: $lg__size;
                    @include regular__typography;
                }

                &:nth-child(2) {
                    color: $e__color;
                    font-size: $sm__size;
                    @include regular__typography;
                }
            }
        }
    }
}


.info__1 {
    &::before {
        background: linear-gradient(rgba(255, 45, 26, 0.8), rgba(196, 9, 9, 0.8));
    }
}

.info__2 {
    &::before {
        background: linear-gradient(rgba(255, 203, 26, 0.8), rgba(196, 128, 9, 0.8));
    }
}

.info__3 {
    &::before {
        background: linear-gradient(rgba(23, 247, 38, 0.8), rgba(40, 196, 9, 0.8));
    }
}

.info__4 {
    &::before {
        background: linear-gradient(rgba(26, 162, 255, 0.8), rgba(9, 146, 196, 0.8));
    }
}